@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP&family=Playfair+Display&display=swap');

body {
  background-color: #101010;
  color: #eeeeee;
  font-family: 'Noto Serif JP', serif;
  font-family: 'Playfair Display', serif;
  font-size: 20px;
}

textarea {
  font-family: initial;
}

.page {
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  height: 100vh;
  // display: flex;
  // justify-content: center;
  // align-items: center;
}

.footer {
  background-color: #000000;
}

.bg-brand {
  color: #fff;
  background-color: #7c4dff;
}

a {
  color: #ccc;
}
